body {
  margin: 0px;
  background: #CCC;
}

label {
  display: block;
  margin-bottom: .5rem;
  margin-top: 1rem;
}

input {
  display: block;
}

.button-creator {
  display: grid;
  gap: 30px;
  padding: 30px;
  grid-template-columns: 200px 1fr;
}

#controles {
  font-family: 'IBM Plex MOno', monospace;
  font-size: .875rem;
  background: #eee;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1);
}

/* .btn {
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  display: block;
  border-radius: 2px;
  font-weight: bold;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1);
} */

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.css {
  font-family: 'IBM Plex MOno', monospace;
  color: #333;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.css span {
  display: block;
  margin-bottom: .5rem
}